<template name="about">
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Piccolo - Harnesssing the Bear & Bull
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="images/tech_stack.PNG">
    </div>
    <div class="description">
      <div class="ui header">Social Media for Financial Markets</div>
      <p style="text-align:justify;"> Social Media is an all pervasive force in today's world. A reckoning force to change the direction of markets.
        Through <b> Piccolo </b> we have made an attempt to harness social media (Twitter in particular) to find the sentiments of the markets.
        This has the potential to find correlations between market trends and social media sentiments, an area of active research these days.
        Superpowered by <b> Meteor JS </b> and adorned by <b> Sematic UI </b>, we present to you <b> Piccolo </b>.
    </p>

    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      Got it
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
</template>
